* {  
    margin: 0;
    padding: 0;  
    outline: 0;
    /* border: solid; */
  }

.main-div{    
    max-width: 1920px;   
    height: 100vh; 
    background-image: url(../images/backcover.svg);
    background-repeat: no-repeat;
    background-position: top right;    
    margin: auto;   
}


nav{
    display: flex;
    flex-direction: row;
    /* border: solid; */
    max-width: 1600px;
    justify-content:space-between ;    
    margin: auto;
    font-family: Roboto;       
    padding-top: 1rem;
    margin-left: 1rem;
}

.signin-btn{
    height: 20px;
    align-self: center;
    border-radius: 25px;
    border: none;
    background-image: linear-gradient(to left, #4A9FF8, #AE83BD);
    color: #ffffff;
    width: 90px;
    height: 27px;
}

.nav-items{
    display: flex;
    flex-direction: row;
    /* border: red solid;*/
    width: 35rem; 
    align-items: center;    
    justify-content: space-between;
    font-size: 22px;
}

.intro-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* border: solid red; */
    
    /* max-width: 1600px; */
    /* width: 100vh; */
    /* height: 100vh; */
    /* margin: auto; */
    /* align-items: center; */

}

.learn-more-btn{
    height: 50px;
    width: 200px;
    font-size: 20px;
    /* align-self: center; */
    border-radius: 25px;
    border: none;
    background-image: linear-gradient(to left, #4A9FF8, #AE83BD);
    color: #ffffff;
    position: relative;
    top: 100px;
    margin-left: 2rem;
}


.intro-section > *{
    flex: 1;    
}


.imgs-div{
  max-width: 100%;
  /* max-height: 100%; */
  margin: auto;
  /* border: solid blue; */
  display: flex;
  /* display: block; */
  /* align-items: baseline; */
}

 .vector-img{
    width: 6rem;                 
    position: relative;    
    top: 21rem;
    right: -7rem;    
}

 .vector-dot{
    width: 2rem;
    height: 50%;    
    position: relative;
    left: 5rem;    
    top: 43rem;
    /* border: solid red; */
} 



img[alt~="intro-img"] {    
    /* position: absolute;     */
    /* top: 100px;
    left: 850px; */
    max-width:100%;
    max-height:100%;
}

.left-section > h1{
    font-size: 80px;
    margin-top: 150px; 
    color: #3e4794;       
    font-family: "Roboto";
    padding-left: 3rem;
}

.left-section > h4{
    font-size: 15px;
    margin-top: 30px;    
    font-family: "Roboto";
    width: 300px;
    line-height: 200%;
    padding-left: 3rem;
}

/* Media Query for small screen resolution less than 768px width */

@media (max-width: 768px){
    .intro-section{
        flex-direction: column;
    }

    .left-section{
        display: flex;        
        flex-direction: column;
        margin: auto;             
        justify-content: center;        
        align-items: center;
    }

    .left-section > h1{
        font-size: 45px;
        margin-top: 40px;         
        font-family: "Roboto";
    }
    
    .left-section > h4{
        font-size: 15px;
        margin-top: 10px;    
        font-family: "Roboto";
        width: 300px;
        line-height: 200%;
        text-align: center;
        margin-bottom: 5rem;
    }

    .learn-more-btn{
        display: block;
        height: 30px;
        width: 150px;
        font-size: 16px;        
        border-radius: 25px;        
        background-image: linear-gradient(to left, #4A9FF8, #AE83BD);
        color: #ffffff;
        position: absolute;
        top: 19rem;
        /* left: 38%; */ 
        justify-content: center;
        justify-self: center;
        /* border: solid red;                */
    }

    .vector-img{
        /* border: solid blue; */
        width: 10%;        
        position: absolute;    
        left: 3rem;
    }
    
     .vector-dot{        
        /* border: solid red; */
        width: 3%;
        height: 50px;    
        position: absolute;
        left: 5rem;    
        top: 42rem;
    } 
    img[alt~="intro-img"] {    
        /* position: absolute;     */
        /* top: 100px;
        left: 850px; */
        max-width:70%;
        margin: auto;
    }
    
    .nav-items{
        font-size: 13px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    nav{
        justify-content:space-around;
    }

    .signin-btn{
        font-size: 10px;
        width: auto;        
    }
   
    .signin-btn{
        width: 65px;
    }

}

